name: Build

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install flox
        uses: flox/install-flox-action@v2

      - name: Build
        run: flox activate -- make local
